{% extends "base.html" %}

{% block content %}
  <section id="about" class="section">
    <div class="card">
      <div class="card-content">
        <h3 class="title is-3">Confirmação da Reserva</h3>
        <p>
          <strong>Nome:</strong> {{booking.name}} <br>
          <strong>Email:</strong> {{booking.email}} <br>
          <strong>Telefone:</strong> {{booking.phone}} <br>

          {% set agenda = booking.period.split(';') %}
          <strong>Horários escolhidos:</strong> <br>
          <ul>
            {% for item in agenda %}
              {% if item != "" %}
                <li>&nbsp;&nbsp; - {{ item }}</li>
              {% endif %}
            {% endfor %}
          </ul>
          A estimativa do valor final considerando os horários escolhidos é de <strong>R$ {{booking.final_price}}</strong>.
        </p>
        <br>
        <form action="{{url_for('confirm')}}" method="post">
          <input type="text" name="id" value="{{booking.id}}" hidden>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Deseja confirmar?</button>
              <a class="button" href="/">Voltar</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}