{% extends "base.html" %}

{% block content %}
  <section class="section">
      <div class="columns">
        <div class="column flex-direction is-align-content-center">
            
        <h2 class="title is-2">Treinamento para criar sua Content Engine</h2>
        <h4 class="title is-4">Publique diariamente nas redes sociais sem estresse e com qualidade</h4>
        <a class="button is-success is-rounded" href="{{url_for("landing")}}#about">Saiba Mais</a>
        <a class="button is-success is-rounded" href="{{url_for("landing")}}#contact">Entre em Contato</a>
        </div>
        <div class="column">
            <figure class="image is-5by4">
              <img src="/static/negocios.svg" />
            </figure>
        </div>
      </div>
  </section>

  <section id="about" class="section">
    <div class="content custompad">
        <h3 class="title is-3">O que é uma Content Engine?</h3>

        <p>Uma <strong>Content Engine</strong> nada mais é do que um sistema ou rotina que combina <strong>pessoas, processos e tecnologia</strong> para tornar a criação de conteúdo mais <strong>simples e sustentável</strong>.</p> 
        <p>Muita gente evita produzir conteúdo porque sente que dá um trabalho enorme, exige muito esforço e, no fim das contas, pode nem trazer retorno.</p>
        <blockquote>
          ⚠️ E esse medo não é exagero, se não houver um certo cuidado, é fácil se perder nesse processo e acabar esgotado, frustrado ou até desmotivado a continuar.
        </blockquote>
        <p>É por isso que estruturar uma <strong>Content Engine</strong> pode ajudar.</p>
        <p>Em vez de depender de inspiração ou da pressão de postar algo a qualquer custo, você cria um <strong>fluxo de produção mais orgânico</strong>, que se encaixa na sua rotina e permite que seu conteúdo aconteça de forma natural, sem virar uma fonte de estresse.</p>
        
        <p>Aqui o foco é criar uma rotina que permita uma produção de conteúdo sem esgotamento, com a ajuda da <strong>escrita criativa</strong>.</p>
        
        <p>A escrita criativa vai te ensinar a transformar ideias em <strong>posts naturais</strong> e <strong>reaproveitáveis</strong>, gerando confiança e novas oportunidades.</p>
        

        <h3 class="title is-3">Como Funciona?</h3>
        <p>O treinamento é simples e eficiente, dividido em três etapas:</p>
        
        

        <p> <strong>1. Descoberta</strong> </p>
          <ul>
              <li>Identificamos sua experiência e interesses.</li>
              <li>Definimos os pilares do seu conteúdo.</li>
          </ul>

          <br>

        <p> <strong>2. Escrita Criativa</strong> </p>
          <ul>
              <li>Criamos um conteúdo piloto.</li>
              <li>Aplicamos técnicas para tornar a escrita fluida e sustentável.</li>
          </ul>

          <br>
          
        <p> <strong>3. Revisão & Rotina</strong> </p>
          <ul>
              <li>Revisamos todo o treinamento novamente e estabelecemos a adoção de uma rotina diária nas redes.</li>
              <li>Exploramos estratégias de reaproveitamento de conteúdo.</li>
          </ul>
        
        
        <h3 class="title is-3">Para Quem?</h3>
        <p>Se você quer postar nas redes com consistência e fortalecer sua presença digital, esse treinamento é para você:</p>
        <ul>
            <li>✅ Psicólogos e terapeutas</li>
            <li>✅ Professores e educadores</li>
            <li>✅ Coaches e mentores</li>
            <li>✅ Profissionais autônomos</li>
        </ul>

        <h3 class="title is-3">Quanto custa?</h3>

        <p>Acredito que um bom planejamento é essencial antes de qualquer execução. Por isso, minha abordagem é simples e direta:</p>

        <ul>
          <li><strong>Primeira chamada gratuita (30 min)</strong> - para uma introdução rápida ao treinamento, voltada para a prática imediata.</li>
          
          <li><strong>Chamadas de acompanhamento (R$70,00)</strong> - para discutir ideias, refazer a análise inicial se necessário e oferecer direcionamento estratégico.</li>

          <li><strong>Execução na criação de conteúdo (R$50,00)</strong> - por post/artigo (texto-base + design)</li>
        </ul>

        <p>Cada situação é única, então, caso tenha dúvidas ou precise de algo personalizado à sua situação hoje, é só entrar em contato!</p>

        <hr id="contact"><hr>
        <h3 class="title is-3 mt-1">Entre em Contato</h3>
        <p>
          <i class="fab fa-whatsapp"></i> <strong>Whatsapp:</strong> (67) 9 9823-6387 
          <br>
        
          <i class="fas fa-envelope"></i> <strong>Email:</strong> otavio.nathanael@gmail.com
          <br>
        
          <i class="fab fa-linkedin"></i> <strong>LinkedIn: </strong><a href="https://www.linkedin.com/in/otavio-nathanael/" target="_blank">linkedin.com/in/otavio-nathanael</a>
        </p>
          <hr><hr>

        <h3 class="title is-3">Um pouco sobre mim...</h3>

        <p>Oiii, prazer! Meu nome é Otávio Nathanael. Atualmente moro em Corumbá, Mato Grosso do Sul.</p>  

        <p>Desde os 14 anos, sempre sonhei em ter meu próprio negócio. Isso me motivou a aprender inglês por conta própria e a mergulhar na escrita criativa (na época, eu era <strong>viciado</strong> em livros de fantasia haha).</p>  

        <p>Em 2018, aos 17, entrei no curso de <strong>Tecnólogo em Análise e Desenvolvimento de Sistemas</strong> no IFMS, campus Corumbá.</p>  

        <p>Foram três anos intensos, de muito estudo e <strong>tentativas frustradas</strong> no mundo freelance.</p>  

        <blockquote>"Se eu não conseguir trabalho na minha cidade, talvez eu consiga fora..."</blockquote>  

        <p>Em 2020, um mês antes da pandemia, consegui meu primeiro trabalho como freelancer na <strong>UpWork</strong>, depois de não ter sido chamado para nenhuma entrevista na minha cidade. (Interior é complicado, nem para serviços gerais fui chamado hahaha.)</p>  

        <p>Curiosamente, meus clientes não eram do Brasil. Meu primeiro contrato foi com uma startup de <strong>Nova York</strong>.</p>  

        <p>Comecei como <code>tutor de Python</code> e, com o tempo, passei a coordenar e desenvolver novos produtos para eles.</p>  

        <ul>  
          <li>Dois meses depois, consegui minha primeira posição de tempo integral como Desenvolvedor Júnior PHP em uma empresa de <strong>Londres</strong>, focada em incorporar novas empresas e fornecer serviços essenciais.</li>  
          <li>Conciliei essa nova posição com algumas horas na startup.</li>  
          <li>Depois de um ano, percebi que não fazia mais sentido e decidi focar apenas na minha posição fixa.</li>
          <li>Logo em seguida, migrei para outra empresa e nesse ponto tive a oportunidade de experimentar diferentes papéis e colaborar em diferentes projetos dentro e fora do Brasil.</li>  
        </ul>  

        <p>Desde então, passei por diferentes empresas, projetos e desafios, acumulando experiência.</p>  

        <blockquote><strong>Mas algo ainda parecia estar faltando.</strong></blockquote>  

        <p>Em 2024, passei quase o ano inteiro em terapia, refletindo sobre minha trajetória, problemas pessoais e o que realmente queria.</p>  

        <p>Aos poucos, fui conectando os pontos e percebi que, no fundo, meu desejo sempre foi <strong>empreender</strong>, não apenas trabalhar para os outros.</p>  

        <p>Agora, decidi que é hora de transformar esse sonho em realidade. Sei que não vai ser fácil, mas estou disposto a encarar o desafio.</p>  

        <p>Se você chegou até aqui, talvez tenha um pouco desse mesmo sonho também.</p>  

        <p><strong>E quem sabe possamos crescer juntos?</strong></p>

    </div>
  </section>


  <section id="reviews" class="section" style="display: none;">
    <div class="card">
      <div class="card-header-title has-text-centered is-flex is-flex-direction-column is-align-items-center">
        <h4 class="title is-2">Depoimentos</h4>
      </div>          
      
      <div class="card-content">
        <div class="columns">
          <div class="column is-6">
              <div class="card-image p-6">
                <figure class="image is-128x128">
                  <img class="is-rounded" src="/static/ashjan.jpeg" />
                </figure>
              </div>
              <h4 class="title is-4">Dra. Ashjan Sadique Adi</h4>
              <p class="content is-medium">
                <i>
                  "Embora o desenvolvimento de negócios digitais seja aplicável a qualquer segmento, 
                  meu principal foco é ajudar profissionais da psicologia a desenvolver uma presença online, sempre 
                  respeitando as diretrizes éticas e regulamentações do Conselho Federal de Psicologia (CFP)."
                </i>
                <br><a href="#">Google Review</a>
              </p>
              <a class="button is-success is-rounded" href="{{url_for("landing")}}#">Ver Trabalho Realizado</a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section" style="display: none;">
    <h1 class="title is-1">Últimas Postagens</h1>
    {% for post in metainfos %}
      <div class="card">
        <div class="card-content">
          <div class="post-preview">
            <a href="{{url_for('post', path=post.file|safe)}}">
              <h2 class="title is-3">
                {{post.title[0]|safe}}
              </h2>
              <h3 class="subtitle is-5">
                {{post.subtitle[0]|safe}}
              </h3>
              <h5 class="title is-6 has-text-grey">Postado por {{post.authors[0]|safe}} em {{post.date[0]|safe}}</h5>
            </a>
            <a class="button mt-2" href="{{url_for('post', path=post.file|safe)}}">Ler Post</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>

{% endblock %}