{% extends "base.html" %}

{% block content %}
  <section class="section">
    <div class="card">
      <div class="card-content content post">
        <h1 class="title is-1">{{metainfos.title[0]|safe}}</h1>
        <h3 class="subtitle is-3 has-text-grey">{{metainfos.subtitle[0]|safe}}</h2>
        <h5 class="title is-5 has-text-grey-light">Postado por {{metainfos.authors[0]|safe}} em {{metainfos.date[0]|safe}}</h5>
        {{content|safe}}

        <!-- customize labels of htmlcommentbox.com -->
        <!--  -->
        <!-- done customizing labels of htmlcommentbox.com -->

        <!-- begin wwww.htmlcommentbox.com -->
        <style>
          .home-desc {
            display: none !important;
          }
          .admin-link::before {
            content: "Fazer Login"
          }
        </style>

        <!-- <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Form</a> is loading comments...</div> -->
        <link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
        <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24b1Ek7z4KqJaaafx1TFnQU%2F"+"&opts=16798&num=10&ts=1710549937530");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
        <!-- end www.htmlcommentbox.com -->
      </div>
    </div>

  </section>
{% endblock %}