{% extends "base.html" %}

{% block content %}
  <section id="about" class="section">
    <div class="card">
      <div class="card-content content">
        <h1>Termos e Condições para Uso do Open Mat na OpenMat SCA</h1>

        <h2>1. Introdução</h2>
        <p>Estes termos e condições regem o uso das instalações e serviços oferecidos pela OpenMat SCA, localizada no Samurai Dojo, para a prática de Open Mat em artes marciais. Ao utilizar nossos serviços, você concorda com estes termos, que entram em vigor imediatamente.</p>

        <h2>2. Uso das Instalações</h2>
        <p><strong>2.1.</strong> O Open Mat é um período no qual os praticantes podem treinar de maneira mais livre e informal, sem a estrutura rígida de uma aula convencional.</p>
        <p><strong>2.2.</strong> Os praticantes devem respeitar as regras do dojo, bem como os outros participantes, promovendo um ambiente seguro e respeitoso para todos.</p>

        <h2>3. Agendamento e Pagamento</h2>
        <p><strong>3.1.</strong> O acesso ao Open Mat é feito mediante reserva antecipada, sujeita à disponibilidade de horários, que podem variar semanalmente.</p>
        <p><strong>3.2.</strong> A taxa para uso do espaço durante o Open Mat é de R$ 20 por hora agendada. Este valor está sujeito a alterações, que serão comunicadas com antecedência.</p>
        <p><strong>3.3.</strong> O pagamento deve ser efetuado antes do início da sessão de treino, conforme instruções fornecidas pela OpenMat SCA.</p>

        <h2>4. Capacidade e Equipamentos</h2>
        <p><strong>4.1.</strong> O tatame tem capacidade para acomodar até 8 pessoas treinando simultaneamente. É importante respeitar este limite para garantir a qualidade e segurança do treinamento.</p>
        <p><strong>4.2.</strong> O uso do saco de pancadas é permitido para treinos individuais, respeitando a fila e o tempo de uso caso haja mais interessados.</p>
        <p><strong>4.3.</strong> A responsabilidade de trazer o equipamento necessário para a prática segura das artes marciais, incluindo, mas não se limitando a, luvas, capacetes, e protetores bucais, é inteiramente do praticante.</p>

        <h2>5. Localização</h2>
        <p><strong>5.1.</strong> A OpenMat SCA opera dentro das instalações do Samurai Dojo, localizado na R. Antônio Maria Coelho com a Porto Carreiro, 1389 - Centro, Corumbá - MS, 79301-002.</p>

        <h2>6. Contato</h2>
        <p><strong>6.1.</strong> Para mais informações ou esclarecimentos sobre os termos e condições, entre em contato pelo WhatsApp (67) 99976-2766.</p>

        <h2>7. Modificações nos Termos e Condições</h2>
        <p><strong>7.1.</strong> A OpenMat SCA reserva-se o direito de alterar estes termos e condições a qualquer momento, sem aviso prévio. Os usuários serão informados sobre tais alterações por meio de nossos canais de comunicação.</p>

        <h2>8. Aceitação dos Termos</h2>
        <p><strong>8.1.</strong> Ao fazer a reserva e utilizar as instalações da OpenMat SCA, você indica sua aceitação explícita destes Termos e Condições.</p>

        <p>Estes Termos e Condições são aplicáveis a partir de <strong>01/03/2024</strong></p>
      </div>
    </div>
  </section>
{% endblock %}